<html>
     <head>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
          <title>{{current_rubric.name}} - Tafel mit Anzeigen </title>
     </head>
  <body>
      <h1>Anzeigen</h1>
      <h2>{{current_rubric.name}}</h2>
      <div>
          <a href="/bboard/">Startseite</a>
          {% for rubric in rubrics %}
          <a href="/bboard/{{ rubric.pk }}/">{{ rubric.name }}</a>
          {% endfor %}
      </div>
      {% for bb in bbs %}
      <div>
          <h2>{{ bb.title }}</h2>
          <p>{{ bb.content }}</p>
          <p>{{ bb.published|date:'d.m.y H:i:s' }}</p>
      </div>
     {% endfor %}
  </body>
</html>